<h2>Registration</h2>

<div class="login-container">
  <h2>Sign up</h2>
  <form [formGroup]="registerForm" action="/login" method="post">
    <div class="input-group">
      <label for="email">Email</label>
      <input
        type="email"
        id="email"
        name="email"
        required
        formControlName="email"
      />
      <i
        style="color: tomato"
        *ngIf="
          registerForm.controls['email'].invalid &&
          (registerForm.controls['email'].dirty ||
            registerForm.controls['email'].touched)
        "
        >a valid email is required</i
      >
    </div>
    <div class="input-group">
      <label for="password">Password</label>
      <input
        type="password"
        id="password"
        name="password"
        required
        formControlName="password"
      />
      <i
        style="color: tomato"
        *ngIf="
          registerForm.controls['email'].invalid &&
          (registerForm.controls['email'].dirty ||
            registerForm.controls['email'].touched)
        "
        >a valid email is required</i
      >
    </div>
    <button type="submit" class="login-button">Sign up</button>
  </form>
</div>
