<div class="bg-gradient">
  <div class="bg-svg flex-column center">
    <h1 class="uppercase">login</h1>
    <div class="flex gap1 align-center">
      <button class="btn-primary">accedi</button> 
      oppure 
      <button class="btn-secondary">registrati</button>
    </div>
    <p class="prompt forgot m0">Password dimenticata?</p>
  </div>

  <div class="container-map">
    <img id="logo" src="../../../assets/icon/logo.svg" alt="logo mapcircle">
    <div id="mapId" style="height: 100%;"></div>
  </div>

</div>
