@import '../../../theme/typography.scss';
@import '../../../theme/button.scss';
@import '../../../theme/colors.scss';

#mapId {
    height: 100%;
    width: 100%;
}


.bg-gradient {
    background: rgb(1, 24, 32);
    background: linear-gradient(180deg, rgba(1, 24, 32, 1) 13%, rgba(3, 101, 134, 1) 69%);
    height: 35vh;
}

.bg-svg {
    height: 100%;
    background-image: url('../../../assets/bg-login.svg');
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    letter-spacing: 10px;
    color: white;
    @include josefin;
    font-size: 34px;
}

.forgot {
    color: $secondary;
    background-color: transparent;
    border: none;
    margin-bottom: 10px;
    @include josefin;
}

.container-map {
    height: 75vh;
    position: relative;
    border-top: 8px solid $secondary;
    #logo { 
        position: absolute; 
        top: -60px; left: calc(50vw - 80px);
        z-index: 1000; 
        width: 160px;
        -webkit-box-shadow: 2px 30px 41px -20px rgba(0, 0, 0, 0.39);
        -moz-box-shadow: 2px 30px 41px -20px rgba(0, 0, 0, 0.39);
        box-shadow: 2px 30px 41px -20px rgba(0, 0, 0, 0.39);
    }
}