@import '../theme/typography.scss';
@import '../theme/colors.scss';

button { border: none; &:active{transform: scale(0.9)} }

.btn-primary ,.btn-secondary {
    padding: 2rem 1rem;    
}

.btn-primary {
    border: 2px solid $primary;
    text-transform: uppercase;
    letter-spacing: 1px;
    background-color: $primary;
}

.btn-secondary {
    border: 2px solid $secondary;
    text-transform: uppercase;
    letter-spacing: 1px;
    background-color: white;
    color: #006885;
}

.btn-map, .btn-coord {
    border-radius: 50%;
    border: 2px solid $secondary;
    height: 60px; width: 60px;
}

.btn-map { background-color: $primary; }
.btn-coord { background-color: white;}

.btn-danger-primary,
.btn-danger-secondary {
    width: 70vw; height: 40px;
    text-transform: uppercase;
}

.btn-danger-primary {
    color: white;
    border: 2px solid #D12E26;
    background-color: #D12E26;
}
.btn-danger-secondary {
    color: #D12E26;
    border: 2px solid #D12E26;
    background-color: white;
}