<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>chat</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light" [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Chat</ion-title>
    </ion-toolbar>
  </ion-header>  
  <ion-content>
    <ul>
      @for (item of users; track item) {
      <li>
        <ion-item-sliding>
          <ion-item [button]="true">
            <ion-avatar aria-hidden="true" slot="start">
              <img alt="" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
            </ion-avatar>
            <ion-label>{{ item.firstName }} {{ item.lastName }}</ion-label>
          </ion-item>
          <ion-item-options slot="end">
            <ion-item-option color="warning">
              <ion-icon slot="icon-only" name="pin"></ion-icon>
            </ion-item-option>
            <ion-item-option color="tertiary">
              <ion-icon slot="icon-only" name="share"></ion-icon>
            </ion-item-option>
            <ion-item-option color="danger" expandable="true">
              <ion-icon slot="icon-only" name="trash"></ion-icon>
            </ion-item-option>
          </ion-item-options>
        </ion-item-sliding>
      </li>
      } @empty {
      <li>Non hai nessuna chat.</li>
      }
    </ul>
  </ion-content>
</ion-content>  


