<div class="bg-white flex-column space-between p2">
    <div>
        <div class="flex-column align-center">
            <img id="user-img" src="../../../assets/people-mapcicrcle.jpg" alt="">
            <h1 class="capitalize prompt">nome cognome</h1>
            <span>membro dal 2024</span>
        </div>
        <div class="justify-center mt2 gap2 w100">
            <div class="item-count">
                <p class="mb05 nowrap">Coupon raccolti</p>
                <button class="btn-map"><img src="../../../assets/icon/ticket.svg" alt=""></button>
                <span class="bold">16</span>
            </div>
            <div class="item-count">
                <p class="mb05 nowrap">Percorso</p>
                <button class="btn-map"><img src="../../../assets/icon/world.svg" alt=""></button>
                <span class="bold">13km</span>
            </div>
            <div class="item-count">
                <p class="mb05 nowrap">Soldi risparmiati</p>
                <button class="btn-map"><img src="../../../assets/icon/coin.svg" alt=""></button>
                <span class="bold">46€</span>
            </div>
        </div>
        <div class="mt2">
            
        </div>
    </div>
    <div class="flex-column align-center gap1">
        <button id="support" class="btn-danger-secondary">assistenza</button>
        <button id="logout" class="btn-danger-primary">esci</button>
    </div>
</div>