<div>
    <div id="mapId"></div>
    <img id="logo" src="../../../assets/icon/logo.svg" alt="">
    <div class="flex-column container-btn gap1">
        <button (click)="graphic.vamos('/account')" class="btn-map"><img src="../../../assets/icon/user.svg" alt=""></button>
        <button (click)="graphic.vamos('/account')" class="btn-map"><img src="../../../assets/icon/ticket.svg" alt=""></button>
        <button (click)="graphic.vamos('/chat')" class="btn-map"><img src="../../../assets/icon/chat.svg" alt=""></button>
    </div>
    <button (click)="isOpen = !isOpen" id="search">{{ isOpen ? 'chiudi' : 'cerca coupon' }}</button>
    @if(isOpen) {
        <div id="list-coupon">
            <ul class="p2">
                @for(item of coupons; track item.name) {
                    <li class="space-between align-center mb05">
                        <div class="flex gap1">
                            <p>
                                <b>{{item.name}}</b>
                                {{item.value}}€
                            </p>
                        </div>
                        <button class="btn-coord"><img src="../../../assets/icon/location-dot-solid.svg" alt=""></button>
                    </li>
                }
            </ul>
        </div>
    }
</div>