@import '../../../theme/button.scss';
@import '../../../theme/colors.scss';

#mapId {
  height: 100dvh;
  width: 100vw;
}

#logo {
  position: absolute;
  right: 1rem; top: 3rem;
  z-index: 1000000;
  width: 70px;
}

.container-btn {
  position: absolute;
  left: 1rem; top: 3rem;
  z-index: 1000000;
}

#search {
  text-transform: uppercase;
  color: white;
  background-color: $primary;
  position: absolute; top: calc(93dvh); left: calc(50vw - 67px);
  z-index: 1000000!important;
  padding: .3rem .8rem;
  line-height: unset;
  border-radius: 30px;
  border: 2px solid $secondary;
}

#list-coupon {
  position: absolute; top: calc(20dvh); left: 5vw;
  z-index: 1000000!important;
  background-color: white;
  border-radius: 20px;
  width: 90vw;
  height: 70dvh;
  overflow: auto;
}